@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:40px 100px;
    z-index:10000 !important;
    transition:0.6s;

}
header .logo{
    position: relative;
    font-weight:700;
    color:#fff;
    text-decoration: none;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:2px;
    transition:0.6s
      
}

header .toggle{
 position: relative;
 width:30px;
 height:30px;
 cursor:pointer;
}
header .toggle:before{
    content:'';
    position: absolute;
    top:7px;
    width:100%;
    height:2px;
    background:#fff;
}

header .toggle:after{
    content:'';
    position: absolute;
    bottom:7px;
    width:100%;
    height:2px;
    background:#fff;
}
.banner.active header .toggle:before{
top:50%;
left:50%;
transform:translate(-50%,-50%) rotate(45deg)
}
.banner.active header .toggle:after{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg)
    }
.banner{
    position:relative;
    width:100%;
    min-height:100vh;
    padding:100px;
    background:url(../../Assets/fuji.jpg);
    background-size:cover;
    display:flex;
    align-items:center;
    transition:0.5s;
    z-index:2;
}

.banner.active {
     transform:translateX(-400px);
}
.navigation{
    position:fixed;
    top:0;
    right:-200px; 
    width:400px;
    height:100vh;
    background:#ff5252;
    z-index:1;
    display:grid;
    place-items:center;
    transition:0.5s;
}
.navigation.active{
    right:0;
}

.navigation ul{
    position:relative;
    display:flex;
    flex-direction:column;
}

.navigation ul li{
    list-style:none;
}
.navigation ul li a{
    color:#fff;
    text-decoration: none;
    display:inline-block;
    font-size:2em;
    font-weight:600;
    text-transform:uppercase;
     
}
.navigation ul li a:hover{
    background-color:#f7f1e3;
    color:#ff5252;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content {
    max-width:600px;
}
.content h2{
    color:#fff;
    font-size:2.5em;
}
.content h2 span{
    color:#ff5252;
    font-size:1.2em;
}
.content {

    font-size:1.2em;
    color:#fff;
    font-weight:300;
}

.content a{
    position: relative;
    display:inline-block;
    margin-top:20px;
    background:#fff;
    color:#000;
    padding:10px 30px;
    text-decoration:none;
    font-size:1.2em;
    font-weight:500;
}

.sci{
    position: absolute;
    display:flex;
    flex-direction: column;
    right:100px;

}
.sci li {
    list-style-type: square none;
}
.sci li a {
    position: relative;
    display: grid;
    place-items:center;
    width:50px;
    height:50px;
    text-decoration:none;
    border:1px solid #fff;
    margin:10px 0 0 ; 
}

.sci li a:hover {
    background:#fff;
}
.sci li a img {
    max-width:20px;
    filter:invert(1);
    mix-blend-mode:difference;
}

.ikon {
    color:#ff5252;
}
 
@media (max-width:767px){
    header{
        padding:20px 50px;
    }
    .banner {
        padding:100px 50px 150px;
    }
    .banner h2 {
        font-size:1.8em;
    }
    .banner p{
        font-size:1em;
    }
    .banner .content p,
    .banner .content a {
        font-size:1em;
    }
    .banner.active{
        transform:translateX(-250px);

    }
    .navigation{
        width:250px;
    }

    .navigation ul li a{
        font-size:1.5em;
        margin:5px 0;

    }
    .sci {
        position:absolute;
        bottom:50px;
        right:initial;
        flex-direction: row;

    }
    .sci li a {
        margin:initial;
        margin-right:10px;
    }
}

.msg-container {
    width:600px;
    height:280px;
    position: absolute;
    left:14%;
    top:57%;
    transform:translateY(-50%);   
    overflow:hidden;
    /* background-color: red; */

}
/* .msg-container p,h1{
    color:white;
} */
#slider{
    display:inline-flex;
    transition:0.5s;
}
.msg-col{
    width:600px;
    height:280px;
}
.msg-col  h1{
    color:#fff;
    font-size:80px;
    font-weight:100;
    margin:10px 0; 
}
.msg-col p{
    color:#ddd;
    font-size:15px;
    line-height:25px;
}
.msg-col a{
    display: inline-block;
    text-decoration:none;
    color:#555;
    background:#fff;
    font-size:15px;
    padding:10px 35px;
    border-radius:30px;
    margin-top:25px;

}
.controller {
     width:1px;
     height:320px;
     display:block;
     background:#c0c0c0;
     position:absolute;
     top:55%;
     right:50px;
     transform:translateY(-50%);
}

#line1,#line2,#line3,#line4{
    height:80px;
    width:10px;
    cursor:pointer;
    transform:translateX(-50%)
}
#active{
    width:5px;
    height:80px;
   border-radius:10px;
   background:#fff;
   position:absolute;
   top:0;
   transform:translateX(-50%);
   transition:0.5s;
}



/* MODAL */

.modal-test{
    background-color:#ff5252;
    height:300px;
    /* margin-left:50px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    /* margin-top:20px; */
    /* margin-left:20px; */
    /* margin-right */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-test a{
    margin-top:-5px;
}
.div-modal{
    margin-top:-50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.div-1 {
    margin-bottom:3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    
}
.div-1 p{
    font-size:30px;
}
.btn-send{
    height:20px;
    width:100px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.btn-send p {
    color:#ff5252;
}
.btn-send:hover{
    background-color:#ff5252;
    
}
.btn-send p:hover{
    color:white;
}